Django~=5.0.7
python-dotenv~=1.0.1
requests~=2.32.3
beautifulsoup4~=4.12.3
django-cors-headers~=4.4.0
djangorestframework~=3.15.2
python-decouple~=3.8
celery>=5.2.7
kombu>=5.3.7
redis==5.0.0
django-celery-beat==2.6.0
importlib-metadata==6.6.0

